@define-color base    #1E1E2E;
@define-color text    #CDD6F4;
@define-color accent  #CBA6F7;
@define-color shadow  #11111B;
@define-color red     #F38BA8;

* {
    font-family: 'JetBrainsMono Nerd Font Propo', monospace;
		font-size: 15px;

		min-height: 0px;
		margin: 0px;
		padding: 0px;
		border: none;
		box-shadow: none;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

window#waybar > box {
    border-radius: 999px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base;
		border-radius: 999px;
    color: @base;
		box-shadow: inset 0 0 0 1px @shadow;
		transition: all 150ms ease-in-out;
		margin-right: 3px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button:not(.focused) label, #workspaces button:not(.active) label {
		font-size: 0px;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #bac2de;
		color: @shadow;
		box-shadow: inset 0 0 0 1px @base;
		border-radius: 999px;
		min-width: 40px;
}

#workspaces button.urgent {
    background-color: @red;
		color: @base;
}

.modules-right {
	background-color: @shadow;
	border-radius: 999px;
	padding: 0px 5px;
}

.modules-right * {
	margin: 3px 0px;
    padding: 0 7px;
		margin-right: 3px;
    color: @text;
		background-color: transparent;
		border-radius: 5px;
}

.modules-left {
	background-color: transparent;
}

#workspaces button {
	margin: 3px 3px;
}

#workspaces{
		background-color: @shadow;
		border-radius: 999px;
}

#tray {
	padding: 0px 5px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window label {
    padding: 0 10px;
		font-weight: bold;
		border-radius: 999px;
		font-size:  14px;
		background-color: @shadow;
}

#window.obsidian {
    background-color: #cba6f7;
}

#clock {
    background-color: inherit;
		margin-left: 5px;
}

#pulseaudio {
    background-color: inherit;
		font-size: 20px;
}

#battery {
    background-color: inherit;
}

@keyframes charging-sweep {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}

#battery.charging, #battery.plugged {
    color: @shadow;
    background: linear-gradient(
        90deg,
        #a6e3a1 0%,
        #a6e3a1 35%,
				#ffffff 50%,
        #a6e3a1 65%,
        #a6e3a1 100%
    );
    background-size: 200% auto;
    animation: charging-sweep 4s linear infinite;
}


#battery.warning:not(.charging) {
	background-color: #f9e2af;
	color: @shadow;
}

#battery.low:not(.charging) {
	background-color: @red;
	color: @shadow;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @shadow;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from { background-color: @red; color: @shadow; }
    to   { background-color: @base; color: @text; }
}

#network {
    background-color: inherit;
}

#network.disconnected {
    background-color: @red;
}

#tray {
	box-shadow: inset 0 0 0 2px @base;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#tray menu {
	border-radius: 10px;
	background-color: @base;
	box-shadow: inset 0 0 0 1px @accent;
}
